<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>工作流</title>
</head>
<body>
	<div class="main">
		<span>填写信息</span>
		<div class="item" th:each="form:${formNames}">
			<span class="name" th:text="${form.name}"></span>
			<input class="value" th:id="${form.id}"/>
		</div>
		<button onclick="submit()">提交</button>
	</div>
</body>
</html>

<style>
* {
	font-family: "微软雅黑";
	font-size: 15px;
	margin: 0 auto;
}
.main{
	width: 400px;
	margin-top:100px;
	text-align:center;
	padding-top:10px;
}
.item{
	float: left;
}
button{
	padding: 3px;
	margin-top:10px;
}
.name{
	float:left;
}
.value{
	width: 400px;
	float:left;
	padding: 3px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom:10px;
}

button {
	width: 408px;
}
</style>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" />
<script  th:inline="javascript">
	function submit() {
		var operator = getUser();
		if(operator == ""){
			location.href = "/";
		}
		var processId = [[${processId}]];
		var formObj = [[${formNames}]];
		var data = {};
		data.processId = processId;
		data.operator = operator;
		
		$.each(formObj, function(i, item){
			data[item.id] = $("#"+item.id).val();
		});
		$.ajax({
			url : "/next",
			data : data,
			success : function(data) {
				if(data.code == 200){
					location.href="/home";
				}
			}
		});
	}
	//获取当前用户
	function getUser(){
		var name="userInfo=";
		var user = "";
		var ca = document.cookie.split(';');
		$.each(ca, function(i, item){
			if(item.indexOf(name) != -1){
				user = item.substring(name.length,item.length);
			}    
		});
		return user;
	}
</script>