<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>工作流</title>
<link rel="stylesheet"
	href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<button class="log" onclick="logout()">退出</button>
	<div th:if="${modelCount}>0">
		<button onclick="writeForm()" th:if="${userType == 1}">填写请假单</button>
		<div th:if="${userType == 0}">
			当前流程模板：<span class="current" th:text="${defaultModel.model_name}"></span>&nbsp;&nbsp;&nbsp;
			<button data-toggle="modal" data-target="#myModal2">修改流程</button>
		</div>
		<div th:if="${userType != 0}">
			<div th:if="${forms.size()}!=1">
				<table th:if="${forms[0].size()} > 1">
					<tr th:each="form,formStat:${forms}">
						<td th:each="f:${form}" th:text="${f.value}"></td>
						<td th:if="${formStat.index} == 0">
							操作
						</td>
						<td th:if="${formStat.index} != 0">
							<span th:if="${formButtons[formStat.index-1].buttons.size()} > 0">
								<button th:each="button : ${formButtons[formStat.index-1].buttons}" th:text="${button.name}"
								th:onclick="'javascript:operate(\''+${formButtons[formStat.index-1].formId}+'\',\''+${button.operation}+'\')'"></button>
							</span>
								
							<button th:onclick="'javascript:checkState(\''+${formButtons[formStat.index-1].formId}+'\')'"
								data-toggle="modal" data-target="#myModal">查看流程</button>
						</td>
					</tr>
				</table>
				<div th:if="${forms[0].size()}==1">请在流程文件里面配置所需表单对象！</div>
			</div>
			
			<div th:if="${forms.size()}==1">
				<br />暂无请假数据
			</div>
		</div>
	</div>
	
	<div th:if="${modelCount}==0">暂无流程模板，请先配置！</div>
	
	<!-- 模态框（Modal） -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">流程</h4>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
		aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
					<h4 class="modal-title" id="myModalLabel">修改流程</h4>
				</div>
				<div class="modal-body">
					<select id="models">
						<option th:each="model:${models}" th:value="${model.id}" th:text="${model.name}" th:selected="${model.id} ==${defaultModel.model_id}"></option>
					</select>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-success" data-dismiss="modal" onclick="changeWorkFlow()" >确认修改</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<div id="myAlert" class="alert alert-success">
		<a href="#" class="close" data-dismiss="alert">&times;</a>
		<strong>修改流程成功！</strong>
	</div>
</body>
</html>

<style>
body {
	margin: 10px 10px 100px 10px;
}

* {
	font-family: "微软雅黑";
	font-size: 15px;
}

td {
	padding: 5px 10px;
	border: 1px solid #ccc;
}

button,select{
	padding: 5px;
	margin: 5px 0;
	border: 1px solid #aaa;
	border-radius: 4px;
}

.log {
	float: right;
	padding: 5px 8px;
	background: #ec5757;
	color: #fff;
}

.upload{
	float:right;
}

.upload input{
	padding: 5px;
	margin: 5px;
	border: 1px solid #aaa;
	border-radius: 4px;
	float:left;
}
.current{
	color:#079c21;
}

#models{
	width: 75%;
}
</style>

<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js" />
<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script th:inline="javascript">
	$('#myAlert').hide();
	
	function writeForm() {
		location.href = "/form";
	}

	function logout() {
		$.ajax({
			url : "/logout",
			success : function(data) {
				if (data.code == 200) {
					location.href = "/";
				}
			}
		});
	}

	function operate(processId, operation) {
		var operator = getUser();
		if (operator == "") {
			location.href = "/";
		}
		if(operation == "null"){
			operation = "";
		}
		$.ajax({
			url : "/next",
			data : {
				"processId" : processId,
				"operator" : operator,
				"input" : operation
			},
			success : function(data) {
				if (data.code == 200) {
					location.href = "/home";
				}
			}
		});
	}

	function checkState(formId) {
		$.ajax({
			url : "/historyState",
			data : {
				"formId" : formId
			},
			success : function(data) {
				if (data.code == 200) {
					var processList = data.info;
					var html = "";
					$.each(processList, function(i, item) {
						html += "<span>" + item.name + "(操作人：" + item.operator
								+ ")" + "</span><br/><br/>";
					});
					$(".modal-body").html(html);
				}
			}
		});
	}
	
	function changeWorkFlow(){
		$('#myAlert').show();
		var selectId = $("#models option:selected").val();
		$.ajax({
			url : "/changeWorkFlow",
			data : {
				"modelId" : selectId
			},
			success : function(data) {
				if (data.code == 200) {
					location.href = "/home";
					setTimeout(function(){
						$('#myAlert').alert();
					},2000);
				}
			}
		});
	}
	
	function getUser() {
		var name = "userInfo=";
		var user = "";
		var ca = document.cookie.split(';');
		$.each(ca, function(i, item) {
			if (item.indexOf(name) != -1) {
				user = item.substring(name.length, item.length);
			}
		});
		return user;
	}
</script>